.bg_clr{

    background-color: #0a0a0a;
    min-height: auto;
    h2 {
        color: #ff9500;
        font-size: 4em;
        display: flex;
        justify-content: center;
        padding-top: 49px;
    }
    p {
        font-size: 20px;
    }
    .section{
        .btn-get{
            background-color: #ff9500;
            color: #ffff;
            border: none;
            padding: 2px 50px;
            font-size: 24px;
            margin-top: 24px;
            border-radius: 40px;
        }
       .btn-get:hover{
            background-color: #fff;
            color: #000;
        }
    }
    .section{
        .prachase{
            background-color: #ff9500;
            color: #ffff;
            border: none;
            padding: 2px 50px;
            font-size: 24px;
            margin-top: 24px;
            border-radius: 40px;
        }
        .prachase:hover{
            background-color: #fff;
            color: #000;
        }
    }
}